* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */

}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.content {

    padding: 4rem;
 }

 section {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid white;
 }

 section h1 {
    margin: 10px 0;
 }

 .scroll-indicator {
    height: 5px;
    width: calc(100% - 6em);
    top: 10px;
    left: 3em;
    border-radius: 3px;
    position: fixed;


 }

 .scroll-indicator .progress {

    height: 100%;
    width: 100%;
      /* https://www.grabient.com/ */

    background: linear-gradient(30deg, skyblue, purple);
    transition: width 0.1s;
    border-radius: 3px;
 }